[Desktop Entry]
Type=Application
Name=Accessibility
NoDisplay=true
Exec=kaccess
Hidden=true
X-DBUS-StartupType=None
X-KDE-autostart-phase=0
OnlyShowIn=KDE
